@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 154, 219);
    color: #fff;
    text-align: center;
    margin: auto;
    width: 500px;
}
input{

}
div{
    color: #000;
    margin: auto;
    padding: 10px;
    text-align: justify;

    
}
div#note{
    background: antiquewhite;
    margin: 20px;
    border-radius: 10px;
}
section{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: black 4px 6px 6px;
}

footer{
    margin: 30px;
}
